<div class="container">
  <br>
  <h1>Pipes</h1>

  <hr>


  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:3 </td>
        <td> {{ nombre | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:1:4 </td>
        <td> {{ nombre | slice:1:4 }} </td>
      </tr>
      <tr>
        <td> {{ arr }} </td>
        <td> slice:1:5 </td>
        <td> {{ arr | slice:1:4 }} </td>
      </tr>
      <tr>
        <th colspan="3">DecimalPipe</th>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number : <small>minInt <b>.</b> minFract <b>-</b> maxFract</small> </td>
        <td> {{ PI | number:'3.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'1.2-2'</td>
        <td> {{ PI | number:'1.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent</td>
        <td> {{ a | percent }} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent:'2.2-2'</td>
        <td> {{ a | percent:'2.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency </td>
        <td> {{ salario | currency }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'EUR' </td>
        <td> {{ salario | currency:'EUR' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'EUR':'code/symbol/symbol-narrow' </td>
        <td> {{ salario | currency:'EUR':'symbol' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'EUR':'code':'4.0-0' </td>
        <td> {{ salario | currency:'EUR':'code':'4.0-0' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> number:'.2-2' </td>
        <td> {{ salario | number:'.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ valorDePromera }} </td>
        <td> async </td>
        <td> {{ valorDePromera | async }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date </td>
        <td> {{ fecha | date }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date:'medium' </td>
        <td> {{ fecha | date:'medium' }} </td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date:'d-MMMM-y' </td>
        <td> {{ fecha | date:'d-MMMM-y' }} </td>
      </tr>
      <tr>
        <td> {{ nombre2 }} </td>
        <td> capitalizado </td>
        <td> {{ nombre2 | capitalizado }} </td>
      </tr>
      <tr>
        <td> {{ nombre2 }} </td>
        <td> capitalizado </td>
        <td> {{ nombre2 | capitalizado:false }} </td>
      </tr>


      <tr>
        <td> {{ nombre }} </td>
        <td>
          contraseña:{{ activar }}
          <br>
          <button
          (click)="activar = !activar"
            type="button"
            class="btn btn-outline-primary"
            name="button">Activar/Desactivar</button>
        </td>
        <td> {{ nombre | contrasena:activar }} </td>
      </tr>
    </tbody>
  </table>


  <h3>Slice in ngFor</h3>
  <ul>
    <li *ngFor="let item of arr|slice:2:7">{{ item }}</li>
  </ul>


  <h3>JSON</h3>
  <pre>{{ heroe | json }}</pre>

  <h3>Youtube small video</h3>
  <iframe width="560" height="315" [src]=" video|domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br><br><br><br><br><br><br><br>
